In [0]:
# Load it into a DataFrame
df = spark.read.csv("/databricks-datasets/samples/population-vs-price/data_geo.csv", header=True, inferSchema=True)
df.show(5)

+---------+-------------+-------+----------+------------------------+-----------------------+
|2014 rank|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+-------+----------+------------------------+-----------------------+
|      101|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+---------+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

In [0]:
df.shape()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-927143160712520>:1
----> 1 df.shape()

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:2964, in DataFrame.__getattr__(self, name)
   2934 """Returns the :class:`Column` denoted by ``name``.
   2935
   2936 .. versionadded:: 1.3.0
   (...)
   2961 +---+
   2962 """
   2963 if name not in self.columns:
-> 2964     raise AttributeError(
   2965         "'%s' object has no attribute '%s'" % (self.__class__.__name__, name)
   2966     )
   2967 jc = self._jdf.apply(name)
   2968 return Column(jc)

AttributeError: 'DataFrame' object has no attribute 'shape'

In [0]:
file_path = "/databricks-datasets/samples/population-vs-price/data_geo.csv"
df = spark.read.csv(file_path, header=True, inferSchema=True)
df.printSchema()
df.show(5)

root
 |-- 2014 rank: integer (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- 2014 Population estimate: integer (nullable = true)
 |-- 2015 median sales price: double (nullable = true)

+---------+-------------+-------+----------+------------------------+-----------------------+
|2014 rank|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+---------+-------------+-------+----------+------------------------+-----------------------+
|      101|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|      125|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|      122|       Mobile|Alabama|        AL|                  194675|                  122.5|
|      114|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|       64|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+---------+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

In [0]:
# Select relevant columns for analysis
df_selected = df.select(
    "City", "State", "State Code", 
    "2014 Population estimate", "2015 median sales price"
)
df_selected.show(5)

+-------------+-------+----------+------------------------+-----------------------+
|         City|  State|State Code|2014 Population estimate|2015 median sales price|
+-------------+-------+----------+------------------------+-----------------------+
|   Birmingham|Alabama|        AL|                  212247|                  162.9|
|   Huntsville|Alabama|        AL|                  188226|                  157.7|
|       Mobile|Alabama|        AL|                  194675|                  122.5|
|   Montgomery|Alabama|        AL|                  200481|                  129.0|
|Anchorage[19]| Alaska|        AK|                  301010|                   null|
+-------------+-------+----------+------------------------+-----------------------+
only showing top 5 rows

In [0]:
df_selected.orderBy("2014 Population estimate", ascending=False).show(10)

+---------------+------------+----------+------------------------+-----------------------+
|           City|       State|State Code|2014 Population estimate|2015 median sales price|
+---------------+------------+----------+------------------------+-----------------------+
|    New York[6]|    New York|        NY|                 8491079|                  388.6|
|    Los Angeles|  California|        CA|                 3928864|                  434.7|
|        Chicago|    Illinois|        IL|                 2722389|                  192.5|
|     Houston[7]|       Texas|        TX|                 2239558|                  200.3|
|Philadelphia[8]|Pennsylvania|        PA|                 1560297|                  204.9|
|        Phoenix|     Arizona|        AZ|                 1537058|                  206.1|
|    San Antonio|       Texas|        TX|                 1436697|                  184.7|
|      San Diego|  California|        CA|                 1381069|                  510.3|
|         Dallas|       Texas|        TX|                 1281047|                  192.5|
|       San Jose|  California|        CA|                 1015785|                  900.0|
+---------------+------------+----------+------------------------+-----------------------+
only showing top 10 rows

In [0]:
# Step 1: Get top 10 most populous cities
top10_populous = df_selected.orderBy("2014 Population estimate", ascending=False).limit(10)

# Step 2: Display the result (Databricks will allow you to switch to a chart view)
display(top10_populous)

City,State,State Code,2014 Population estimate,2015 median sales price
New York[6],New York,NY,8491079,388.6
Los Angeles,California,CA,3928864,434.7
Chicago,Illinois,IL,2722389,192.5
Houston[7],Texas,TX,2239558,200.3
Philadelphia[8],Pennsylvania,PA,1560297,204.9
Phoenix,Arizona,AZ,1537058,206.1
San Antonio,Texas,TX,1436697,184.7
San Diego,California,CA,1381069,510.3
Dallas,Texas,TX,1281047,192.5
San Jose,California,CA,1015785,900.0

Databricks visualization. Run in Databricks to view.

In [0]:
from pyspark.sql.functions import avg
df_average=df_selected.groupBy("State").agg(avg("2015 median sales price")).show()
display(df_average)

+--------------------+----------------------------+
|               State|avg(2015 median sales price)|
+--------------------+----------------------------+
|                Utah|                       243.3|
|             Hawai'i|                       699.3|
|           Minnesota|                       209.4|
|                Ohio|          112.86666666666667|
|            Arkansas|                       131.8|
|              Oregon|          231.53333333333333|
|               Texas|           173.4777777777778|
|        North Dakota|                       180.0|
|        Pennsylvania|                       183.8|
|         Connecticut|          250.13333333333333|
|            Nebraska|          149.14999999999998|
|              Nevada|                       237.3|
|          Washington|          266.29999999999995|
|            Illinois|          122.87499999999999|
|            Oklahoma|                       145.1|
|District of Columbia|                       367.8|
|              Alaska|                        null|
|          New Mexico|                       172.2|
|            Missouri|                      134.75|
|        Rhode Island|                       233.3|
+--------------------+----------------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import avg
df_average=df_selected.groupBy("State").agg(avg("2015 median sales price"))
display(df_average)

State,avg(2015 median sales price)
Utah,243.3
Hawai'i,699.3
Minnesota,209.4
Ohio,112.86666666666667
Arkansas,131.8
Oregon,231.53333333333333
Texas,173.4777777777778
North Dakota,180.0
Pennsylvania,183.8
Connecticut,250.13333333333333
Nebraska,149.14999999999998
Nevada,237.3
Washington,266.29999999999995
Illinois,122.87499999999999
Oklahoma,145.1
District of Columbia,367.8
Alaska,null
New Mexico,172.2
Missouri,134.75
Rhode Island,233.3
Georgia,158.0
Montana,null
Michigan,114.6
Virginia,201.25
North Carolina,176.05714285714288
Kansas,115.65
New Jersey,350.8
Maryland,223.1
Alabama,143.025
Arizona,192.1
Iowa,133.15
Massachusetts,261.8
Kentucky,141.14999999999998
Louisiana,164.39999999999998
Mississippi,154.1
New Hampshire,237.4
Tennessee,152.825
Florida,178.77777777777777
Indiana,122.75
Idaho,178.7
South Carolina,null
South Dakota,159.5
California,547.9714285714286
New York,185.775
Wisconsin,210.8
Colorado,333.46666666666664

Databricks visualization. Run in Databricks to view.

In [0]:
filtered_df = df_selected.filter(df_selected["2014 Population estimate"] > 1000000)

# Get top 10 based on population
top10_million_plus = filtered_df.orderBy("2014 Population estimate", ascending=False).limit(10)

# Display the result in Databricks
display(top10_million_plus)

City,State,State Code,2014 Population estimate,2015 median sales price
New York[6],New York,NY,8491079,388.6
Los Angeles,California,CA,3928864,434.7
Chicago,Illinois,IL,2722389,192.5
Houston[7],Texas,TX,2239558,200.3
Philadelphia[8],Pennsylvania,PA,1560297,204.9
Phoenix,Arizona,AZ,1537058,206.1
San Antonio,Texas,TX,1436697,184.7
San Diego,California,CA,1381069,510.3
Dallas,Texas,TX,1281047,192.5
San Jose,California,CA,1015785,900.0

Databricks visualization. Run in Databricks to view.

In [0]:
df_new = df_selected.dropna()
display(df_new)

City,State,State Code,2014 Population estimate,2015 median sales price
Birmingham,Alabama,AL,212247,162.9
Huntsville,Alabama,AL,188226,157.7
Mobile,Alabama,AL,194675,122.5
Montgomery,Alabama,AL,200481,129.0
Phoenix,Arizona,AZ,1537058,206.1
Tucson,Arizona,AZ,527972,178.1
Little Rock,Arkansas,AR,197706,131.8
Anaheim,California,CA,346997,685.7
Los Angeles,California,CA,3928864,434.7
Riverside,California,CA,319504,281.0
Sacramento,California,CA,485199,275.8
San Diego,California,CA,1381069,510.3
San Francisco[10],California,CA,852469,748.3
San Jose,California,CA,1015785,900.0
Boulder,Colorado,CO,105112,442.2
Colorado Springs,Colorado,CO,445830,220.1
Denver[12],Colorado,CO,663862,338.1
Bridgeport,Connecticut,CT,147612,342.7
Hartford,Connecticut,CT,124705,202.6
New Haven,Connecticut,CT,130282,205.1
Washington[13],District of Columbia,DC,658893,367.8
Cape Coral,Florida,FL,169854,208.0
Gainesville,Florida,FL,128460,169.9
Jacksonville[9],Florida,FL,853382,182.5
Lakeland,Florida,FL,102346,136.0
Miami,Florida,FL,430332,269.1
Palm Bay,Florida,FL,105838,145.0
Port St. Lucie,Florida,FL,174110,172.0
Tallahassee,Florida,FL,188107,170.5
Tampa,Florida,FL,358699,156.0
Atlanta,Georgia,GA,456002,158.0
Honolulu[2],Hawai'i,HI,350399,699.3
Boise[22],Idaho,ID,216282,178.7
Chicago,Illinois,IL,2722389,192.5
Peoria,Illinois,IL,115828,105.2
Rockford,Illinois,IL,149123,78.6
Springfield,Illinois,IL,116809,115.2
Fort Wayne,Indiana,IN,258522,106.3
Indianapolis[11],Indiana,IN,848788,139.2
Cedar Rapids,Iowa,IA,129195,156.9
Davenport,Iowa,IA,102448,109.4
Topeka,Kansas,KS,127215,105.3
Wichita,Kansas,KS,388413,126.0
Lexington[18],Kentucky,KY,310797,141.2
Louisville[16],Kentucky,KY,612780,141.1
Baton Rouge[21],Louisiana,LA,228895,177.2
Shreveport,Louisiana,LA,198242,151.6
Baltimore[15],Maryland,MD,622793,223.1
Boston,Massachusetts,MA,655884,374.6
Springfield,Massachusetts,MA,153991,183.9
Worcester,Massachusetts,MA,183016,226.9
Lansing,Michigan,MI,114620,114.6
Minneapolis,Minnesota,MN,407207,209.4
Jackson,Mississippi,MS,171155,154.1
Kansas City,Missouri,MO,470800,153.0
Springfield,Missouri,MO,165378,116.5
Lincoln,Nebraska,NE,272996,150.2
Omaha,Nebraska,NE,446599,148.1
Las Vegas,Nevada,NV,613599,205.9
Reno,Nevada,NV,236995,268.7
Manchester,New Hampshire,NH,110448,237.4
Newark,New Jersey,NJ,280579,350.8
Albuquerque,New Mexico,NM,557169,172.2
Buffalo,New York,NY,258703,117.3
New York[6],New York,NY,8491079,388.6
Rochester,New York,NY,209983,118.9
Syracuse,New York,NY,144263,118.3
Charlotte,North Carolina,NC,809958,197.2
Durham,North Carolina,NC,251893,196.9
Fayetteville,North Carolina,NC,203948,145.0
Greensboro,North Carolina,NC,282586,138.3
Raleigh,North Carolina,NC,439896,218.9
Wilmington,North Carolina,NC,113657,197.5
Winston�Salem,North Carolina,NC,239269,138.6
Fargo,North Dakota,ND,115863,180.0
Akron,Ohio,OH,197859,95.4
Cincinnati,Ohio,OH,298165,135.0
Cleveland,Ohio,OH,389521,105.9
Columbus,Ohio,OH,835957,149.9
Dayton,Ohio,OH,141003,107.2
Toledo,Ohio,OH,281031,83.8
Tulsa,Oklahoma,OK,399682,145.1
Eugene,Oregon,OR,160561,211.3
Portland,Oregon,OR,619360,289.4
Salem,Oregon,OR,161637,193.9
Allentown,Pennsylvania,PA,119104,162.7
Philadelphia[8],Pennsylvania,PA,1560297,204.9
Providence,Rhode Island,RI,179154,233.3
Sioux Falls,South Dakota,SD,168586,159.5
Chattanooga,Tennessee,TN,173778,143.6
Knoxville,Tennessee,TN,184281,149.2
Memphis,Tennessee,TN,656861,132.1
Nashville[14],Tennessee,TN,644014,186.4
Abilene,Texas,TX,120958,145.7
Amarillo,Texas,TX,197254,144.4
Austin,Texas,TX,912791,249.1
Beaumont,Texas,TX,117585,133.3
Corpus Christi,Texas,TX,320434,172.9
Dallas,Texas,TX,1281047,192.5
El Paso,Texas,TX,679036,138.4
Houston[7],Texas,TX,2239558,200.3
San Antonio,Texas,TX,1436697,184.7
Salt Lake City,Utah,UT,190884,243.3
Richmond[15],Virginia,VA,217853,212.5
Virginia Beach[15],Virginia,VA,450980,190.0
Seattle,Washington,WA,668342,352.4
Spokane,Washington,WA,212052,180.2
Madison,Wisconsin,WI,245691,226.2
Milwaukee,Wisconsin,WI,599642,195.4